#visualizationContainer
{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    background-color: black;
}

#visTopContainer
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50%;
    background-color: green;
}

#visBottomContainer
{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    background-color: red;
}

#circuitGraph
{
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
    background-color: yellow;
}

#circuitLevels
{
    position: absolute;
    left: 50%;
    right: 25%;
    top: 0;
    bottom: 0;
    background-color: blue;
}

#circuitQuery
{
    position: absolute;
    left: 75%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: orange;
}


#overviewContainer
{
    position: absolute;
    top: 0;
    bottom: 90%;
    left: 0;
    right: 0;
    background-color: gray;
}

#options
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 80%;
    background-color: pink;
}

#overview
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    right: 0;
    background-color: white;
}

#overviewBackground
{
	height: 100%;
	width: 100%;
}


#zoomContainer
{
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: brown;
}

#labels
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 20%;
    background-color:purple;
}

#zoomView
{
    position: absolute;
    left: 20%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
}

.left-handle, .right-handle
{
	fill: white;
	opacity: .3;
	stroke: #088;
	display: none;
}

.scrollbar
{
	fill: white;
	opacity: .3;
	stroke: #088;
	display:none;
}



