#overviewContainer
{
	width: 1000px;
	height: 50px;
}

#overviewScrollbar, #overviewBackground
{
	width: 1000px;
	height: 50px;
	position: absolute;
	top: 0px;
}

.left-handle, .right-handle
{
	fill: white;
	fillOpacity: .3;
	strokeStyle: #088;
}

