#visualizationContainer
{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
}

#visTopContainer
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 65%;
}

#tabs
{
	position:absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#tabs .pui-tabview-nav
{
	width: 125px !important;
	height: 100%;
}

#tabs .pui-tabview-panels
{
	width: auto !important;
}

#visBottomContainer
{
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    bottom: 0;
}

#circuitLevels
{
    position: absolute;
    left: 125px;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: .7em;
    font-family: 'Arial';
    background-color: white;
}

#circuitQuery
{
    position: absolute;
    left: 125px;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: .7em;
    font-family: 'Arial';
    background-color: white;
}

#kwHistogram
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 75%;
}
#durationHistogram
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 25%;
	right: 50%;
}

#currentLevels
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
}

#kwHistogram2
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 25%;
}
#durationHistogram2
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 75%;
	right: 0;
}

#currentLevels2
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 0;
}

.bar, .bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar rect:hover, .bar rect:hover ~ rect {
  fill: orange !important;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*first piano roll section*/
#overviewContainer
{
    position: absolute;
    top: 0;
    bottom: 95%;
    left: 0;
    right: 0;
}

#options
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 80%;
    z-index: 2;
}

#overview
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    right: 0;
}

#overviewBackground
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}


#zoomContainer
{
    position: absolute;
    top: 5%;
    bottom: 50%;
    left: 0;
    right: 0;
}

#labels
{
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 80%;
}

#labels .ui-button
{
	z-index: 1;
}

#load
{
	position: absolute;
	top: 10px;
}

#selectCircuits
{
	position: absolute;
	top: 50px;
}

#labels svg
{
	position: absolute;
	top: 0;
}

#zoomTimeLabel
{
	position: absolute;
	top: 0px;
	left: 20%;
	right: 0;
	height: 20px;
}

#zoomViewContainer
{
    position: absolute;
    left: 20%;
    right: 0;
    top: 20px;
    bottom: 0;
}

#zoomView
{
	width: 100%;
	height: 100%;
}

#overviewScrollbar
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.scroll rect
{
	fill: white;
	opacity: .35;
	stroke: #088;
}

.left-handle, .right-handle
{
	fill: white;
	stroke: #088;
}

#circuitSelector .pui-dialog-content
{
	-moz-columns: 2;
	-webkit-columns: 2;
	columns: 2;
}

/*second piano roll section*/

#overviewContainer2
{
    position: absolute;
    top: 50%;
    bottom: 45%;
    left: 0;
    right: 0;
}

#options2
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 80%;
    z-index: 2;
}

#overview2
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    right: 0;
}

#overviewBackground2
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}


#zoomContainer2
{
    position: absolute;
    top: 55%;
    bottom: 0;
    left: 0;
    right: 0;
}

#labels2
{
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 80%;
}

#labels2 .ui-button
{
	z-index: 1;
}

#load2
{
	position: absolute;
	top: 10px;
}

#selectCircuits2
{
	position: absolute;
	top: 50px;
}

#labels2 svg
{
	position: absolute;
	top: 0;
}

#zoomTimeLabel2
{
	position: absolute;
	top: 0px;
	left: 20%;
	right: 0;
	height: 20px;
}

#zoomViewContainer2
{
    position: absolute;
    left: 20%;
    right: 0;
    top: 20px;
    bottom: 0;
}

#zoomView2
{
	width: 100%;
	height: 100%;
}

#overviewScrollbar2
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.scroll rect
{
	fill: white;
	opacity: .35;
	stroke: #088;
}

rect.brush
{
	stroke: red;
}

.left-handle, .right-handle
{
	fill: white;
	stroke: #088;
}

#circuitSelector2 .pui-dialog-content
{
	-moz-columns: 2;
	-webkit-columns: 2;
	columns: 2;
}

rect.event:hover
{
	stroke: black;
}

rect.dataBar.selected
{
	fill: lime;
}